.mainclass{
    margin: auto;
    height: min-content;
    display: grid;
    gap: 1rem;
    width: min-content;
    /* grid-template-columns: repeat(2, 1fr); */
}

@media (min-width: 650px) {
    .mainclass {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid1{
    height: min-content;
    margin: 0;
}
.grid1 ul{
    margin:0;
    padding: 5px;
    width: 300px;
    text-align: left;
    font: inherit;
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.grid2 article img{
    margin: auto;
    width: 350px;
    height: 500px;
    border-radius: 2px;
    overflow: scroll;
}

img{
    object-fit: cover;
}

.main{
    margin: auto;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
} 

.textDisplayed p{
    text-align: center;
}
